*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.game-board {
    display: flex;
}

.card {
    background-color: aquamarine;
    /* width: 200px;
    height: 200px;
    padding: 20px;
    margin: 30px; */
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-gap: 10px;
}