*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

header {
  display: flex;
}

#helpBtn {
  margin-top: 20px;
  font-family: "Momo Trust Display", sans-serif;
  padding: 0.5em;
  margin-right: 20px;
  border-radius: 40px;
  border: none;
  background-color: rgb(91, 144, 251);
  transition: transform 0.3s ease-in-out;
  position: fixed;
  right: 0;
  text-shadow: none;
}

#helpBtn:hover {
  box-shadow: 2px 2px 5px rgba(0 0 0 0.3);
  transform: scale(1.10);
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: #f7dd4c;
  color: black;
  margin: auto;
  padding: 20px 50px;
  border: 1px solid #888;
  width: 80%;
  text-align: center;
  border-radius: 40px;
}

img {
  width: 250px;
  height: auto; 
  margin: auto;
  padding: 10px;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-title {
  margin-top: 20px;
}

h2, h3 {
  margin: 10px 0;
}

.game-state, .game-history {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
}

#current-game-counter, #past-game-counter {
  border: #000 solid 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 60px;
  padding: 10px 15px;
  border-radius: 40px;
}

.game-board {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px 40px 40px 40px;
  gap: 15px;
  user-select: none;
  max-width: 1000px;
}

.card {
  background-color: rgb(1, 1, 2);
  background-image: url('../assets/images/90s_Colorful_Squiggle.jpg');
  width: 190px;
  margin-bottom: 10px;
  height: 190px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6em;
  border-radius: 15px;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  cursor: grab;
  transform: scale(1.10);
}

@keyframes shake {
  0% { transform: translateX(0); }
  20% { transform: translateX(-5px); }
  40% { transform: translateX(5px); }
  60% { transform: translateX(-5px); }
  80% { transform: translateX(5px); }
  100% { transform: translateX(0); }
}

.shake {
  animation: shake 0.4s ease;
}

.selection {
  display: none;
}

.hidden-btn {
  visibility: hidden;
}

.reset-btn {
  font-family: "Momo Trust Display", sans-serif;
  transition: transform 0.3s ease-in-out;
  margin: 20px;
  font-size: 1.7rem;
  padding: 1.3em;
  border-radius: 40px;
  border: none;
  background-color: rgb(91, 144, 251);
}

.reset-btn:hover {
  box-shadow: 2px 2px 5px rgba(0 0 0 0.3);
  transform: scale(1.10);
}

footer {
  margin-bottom: 40px;
}

#game-over-modal {
  display: none; 
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.4); 
}

.game-over-modal-content {
  background-color: #f7dd4c;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 60%; 
  text-align: center;
  border-radius: 40px;
}

.close-game-over-modal {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-game-over-modal:hover,
.close-game-over-modal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}