*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1, h2, h3 {
    margin: 10px 0;
}

.game-title {
  margin-top: 40px;
}

.game-state {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    margin-top: 5px;
}

.game-board {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr); */
    margin: 40px;
    gap: 20px;
    user-select: none;
}

.card {
    /* background-color: rgb(132, 229, 197); */
    background: #2A7B9B;
    background: linear-gradient(25deg, rgba(42, 123, 155, 1) 0%, rgba(118, 234, 118, 1) 50%, rgba(237, 221, 83, 1) 100%);
    width: 200px;
    margin-bottom: 20px;
    height: 200px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
  cursor: grab;
  transform: scale(1.10);
}

.hidden {
  color: rgba(0, 0, 0, 0);
}

.hidden-btn {
  display: none;
}

.reset-btn {
  font-family: "Momo Trust Display", sans-serif;
  transition: transform 0.3s ease-in-out;
  margin: 20px;
  font-size: 1.7rem;
  padding: 1em;
  border-radius: 40px;
  border: none;
  background-color: rgb(118, 234, 118);
}

.reset-btn:hover {
  box-shadow: 2px 2px 5px rgba(0 0 0 0.3);
  transform: scale(1.10);
}

footer {
  margin-bottom: 40px;
}