*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

header {
  display: flex;
}

#helpBtn {
  margin-top: 20px;
  font-family: "Momo Trust Display", sans-serif;
  padding: 0.5em;
  margin-right: 20px;
  border-radius: 40px;
  border: none;
  background-color: rgb(91, 144, 251);
  transition: transform 0.3s ease-in-out;
  position: fixed;
  right: 0;
}

#helpBtn:hover {
  box-shadow: 2px 2px 5px rgba(0 0 0 0.3);
  transform: scale(1.10);
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #f7dd4c;
  color: black;
  margin: auto;
  padding: 20px 50px;
  border: 1px solid #888;
  width: 80%;
  text-align: center;
}

img {
    width: 250px;
    height: auto; 
    margin: auto;
    padding: 10px;
    }

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-title {
  margin-top: 20px;
}

h2, h3 {
    margin: 10px 0;
}

.game-state {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    margin-top: 5px;
}

.game-board {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr); */
    margin: 40px;
    gap: 20px;
    user-select: none;
}

.card {
    /* background-color: rgb(132, 229, 197); */
    background: #2A7B9B;
    background-image: url('/assets/images/90s_Colorful_Squiggle.jpg');
    /* background: linear-gradient(25deg, rgba(42, 123, 155, 1) 0%, rgba(118, 234, 118, 1) 50%, rgba(237, 221, 83, 1) 100%); */
    width: 200px;
    margin-bottom: 20px;
    height: 200px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6em;
    border-radius: 15px;;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
  cursor: grab;
  transform: scale(1.10);
}

@keyframes shake {
  0% { transform: translateX(0); }
  20% { transform: translateX(-5px); }
  40% { transform: translateX(5px); }
  60% { transform: translateX(-5px); }
  80% { transform: translateX(5px); }
  100% { transform: translateX(0); }
}

.shake {
  animation: shake 0.4s ease;
}

.selection {
  display: none;
}

.hidden-btn {
  display: none;
}

.reset-btn {
  font-family: "Momo Trust Display", sans-serif;
  transition: transform 0.3s ease-in-out;
  margin: 20px;
  font-size: 1.7rem;
  padding: 1em;
  border-radius: 40px;
  border: none;
  background-color: rgb(91, 144, 251);
}

.reset-btn:hover {
  box-shadow: 2px 2px 5px rgba(0 0 0 0.3);
  transform: scale(1.10);
}

footer {
  margin-bottom: 40px;
}